<section>
  <h1>Projects</h1>

  <ul id="projects">
      <li class='project'>
        <img src='/images/projects/coffeespec.png' alt='Coffee.spec'/>
        <a href='http://www.coffeespec.com'>Coffee.Spec</a>
        <span>Create stunning coffee posters for your office</span>
      </li>

      <li class='project'>
        <img src='/images/projects/tlv-streets.png' alt='TLV-streets'/>
        <a href='http://www.tlv-streets.co.il/'>TLV-Streets</a>
        <span>A mobile site that tells you the meanings for street names in Tel-Aviv</span>
      </li>
      <li class='project'>
        <img src='/images/projects/release-cycles.png' alt='Release Cycles'/>
        <a href='http://www.release-cycles.com/'>Release Cycles</a>
        <span>An abstract racing game where you fight against the clock and the computer to get as far as you can in a products life-cycle.<strong>Won the Github Game Off 2012</strong></span>
      </li>
      <li class="project">
        <img src="/images/projects/makom.png" alt="Makom-Tov"/>
        <a href="http://makom-tov.co.il">Makom-Tov</a>
        <span>A site for viewing upcoming movies and finding the best seats</span>
      </li>
      <li class="project">
        <img src="/images/projects/owl.png" alt="ORLY?" />
        <a href="https://github.com/yonbergman/orly">O RLY?</a>
        <span>A small tool that reminds you to run bundle:install and rake db:migrate</span>
      </li>
      <li class="project">
          <img src="/images/projects/flowsync.png" alt="FlowSync" class="wide"/>
        <a href="https://github.com/yonbergman/flowsync">FlowSync</a>
        <span>A tool for syncing FlowDock chat rooms across teams working together</span>
      </li>
      <li class="project">
          <img src="/images/projects/gem.png" alt="enumify"/>
        <a href="https://github.com/yonbergman/enumify">enumify</a>
        <span>A gem for adding enum-like capabilities to ActiveRecord</span>
      </li>
      <li class="project">
          <img src="/images/projects/ey.png" alt="EyToolbox"/>
        <a href="https://github.com/yonbergman/EyToolbox">EyToolbox</a>
          <span>A toolbox for EngineYard for easy deploys and other stuff</span>
      </li>
  </ul>
</section>
