<section>
  <h1>Projects</h1>

  <ul id="projects">
      <li class="project">
        <img src="/images/projects/makom.png" alt="Makom-Tov"/>
        <a href="http://makom-tov.co.il">Makom-Tov</a>
        <span>A site for viewing upcoming movies and finding the best seats</span>
      </li>
      <li class="project">
          <img src="/images/projects/flowsync.png" alt="FlowSync" class="wide"/>
        <a href="https://github.com/yonbergman/flowsync">FlowSync</a>
        <span>A tool for syncing FlowDock chat rooms across teams working together</span>
      </li>
      <li class="project">
          <img src="/images/projects/gem.png" alt="enumify"/>
        <a href="https://github.com/yonbergman/enumify">enumify</a>
        <span>A gem for adding enum-like capabilities to ActiveRecord</span>
      </li>
      <li class="project">
          <img src="/images/projects/ey.png" alt="EyToolbox"/>
        <a href="https://github.com/yonbergman/EyToolbox">EyToolbox</a>
          <span>A toolbox for EngineYard for easy deploys and other stuff</span>
      </li>
  </ul>
</section>
